<div id="reservationInitiationOverlay">
    <a (click)="goBackToReservationCheckOverlay()" *ngIf="checkTriggeredFromOverlay && !loading"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Назад
    </a>
    <div id="loader" *ngIf="loading">
        <h3> Търсим ви маса </h3>
        <div class="pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div *ngIf="!loading && !reservationSuccess">
        <div *ngIf="freeTables.length > 0" [class.success]="freeTablesMatchingCriteria">
            <p>Разполагаме с <span>{{freeTables.length}} места</span> задоволяващи критерия ви!
            </p>
            <a (click)="reserveTable()">Резервирай <i class="fa fa-key" aria-hidden="true"></i></a>
        </div>
        <div *ngIf="freeTables.length == 0" [class.warning]="freeTablesMatchingCriteria">
            <p>Разполагаме с {{freeTables.length}} задоволяващи критерия ви!</p>
            <a><i class="fa fa-arrow-left" aria-hidden="true"></i>Промени критерия</a>
        </div>
    </div>
    <div id="reservationSuccess" class="row" *ngIf="!loading && reservationSuccess">
        <p class="offset-lg-1 col-lg-10"> Запитване за резервация изпратено
            <i class="fa fa-check" aria-hidden="true"></i>
        </p>
    </div>
</div>