$mainColor: rgba(148, 221, 235, 0.89);
nav {
    margin: 0px;
    padding: 0px;
    height: 60px;
    background-color: $mainColor;
    h1 {
        color: #ffffff;
        margin-left: 2rem;
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }
    div {
        height: 100%;
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        &.btn-own {
            padding: 0.2rem 1.1rem;
            color: #ffffff;
            display: inline-block;
            float: right;
            height: 100%;
            border-left: 1px solid #ffffff;
            vertical-align: middle;
            padding-top: 0.6rem;
            i {
                margin-left: 0.5rem;
            }
            &:hover,
            &.active {
                color: $mainColor;
                cursor: pointer;
                background-color: #ffffff;
            }
        }
    }
    #buttonContainer {
        margin-left: 4rem;
    }
    app-login-form {
        position: absolute;
        right: 0;
        width: 19%;
        background-color: rgba(148, 221, 235, 0.89);
        top: 100%;
        border: 1px solid #ffffff;
    }
}