<div [@myAnimation]="filtersExpanded" (@myAnimation.done)="displayFilterButton()" *ngIf="filtersExpanded" class="col-xs-12">
    <div class="row">
        <div class="offset-xs-2 col-xs-8">
            <div id="typeSelector" class="row">
                <h3> Тип на заведението: </h3>
                <a class="col-xs-3" [class.active-venue-type-filter]="filter.isFiltered" *ngFor="let filter of venueTypeFilters" (click)="venueTypeFilterClicked(filter)">{{filter.type}}</a>
            </div>
            <div class="row">
                <h3> Дата на резервация: </h3>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" (click)="d.toggle()" placeholder="Избери дата" name="dp" [(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="filterSearch()">
                            <div class="input-group-addon" (click)="d.toggle()">
                                <a><i class="fa fa-calendar" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="sliderContainer" class="row">
        <div class="offset-xs-2 col-xs-8">
            <div class="row">
                <h3> Брой на посетителите: <span>{{ageSliderModel}}</span></h3>
                <p-slider [(ngModel)]="ageSliderModel" [min]="1" [max]="25" animate="true"></p-slider>
            </div>
            <div class="row">
                <span class="slider-min-label">1</span>
                <span class="slider-max-label">25</span>
            </div>
        </div>
    </div>
    <div>
        <a (click)="filtersExpanded = !filtersExpanded">Скрии Филтри<i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

</div>