 $mainColor: rgba(148, 221, 235, 0.89);
 div {
     margin-bottom: 1rem;
     &.row {
         margin-bottom: 1rem;
     }
     a {
         border: 1px solid $mainColor;
         color: $mainColor;
         text-align: center;
         &:hover {
             cursor: pointer;
             color: $mainColor;
         }
         &.active-venue-type-filter {
             background-color: $mainColor;
             color: #ffffff;
         }
         @media (max-width: 576px) {
             margin-bottom: 0.3rem;
         }
     }
 }