div {
    &.row {
        margin-bottom: 1rem;
    }
    div {
        &#searchContainer {
            padding: 1rem 1.2rem;
            background-color: #fff;
            input {
                width: 100%;
                outline: none;
                border: 0px;
                font-size: 1.5rem;
                padding-left: 0.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            }
            i {
                top: 34%;
                right: 1.5%;
                color: rgba(148, 221, 235, 0.69);
                position: absolute;
                @media (max-width: 576px) {
                    right: 6%;
                    top: 32%;
                }
                @media (max-width: 768px) {
                    right: 3%;
                    top: 35%;
                }
                @media (max-width: 992px) {
                    top: 33%;
                    right: 2.2%;
                }
            }
        }
        &#filterButtonTriggerContainer {
            a {
                display: inline-block;
                float: right;
                border: 1px solid rgba(148, 221, 235, 0.69);
                color: rgba(148, 221, 235, 0.69);
                padding: 0.4rem;
                border-top: none;
                background-color: #ffffff;
                &:hover {
                    color: #ffffff;
                    cursor: pointer;
                    background-color: rgba(148, 221, 235, 0.69);
                    border-color: #ffffff;
                }
            }
            &.input-group {
                width: 100%;
            }
        }
        h3 {
            color: rgba(0, 0, 0, 0.54)
        }
        &#filtersContainer {
            background-color: #ffffff;
            #typeSelector {
                a {
                    border: 1px solid rgba(148, 221, 235, 0.69);
                    text-align: center;
                }
            }
            .form-group,
            .input-group {
                &:hover {
                    cursor: pointer;
                }
                width: 100%;
                input {
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                    font-size: 1.5rem;
                    border-radius: 0px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .input-group-addon {
                    width: 5%;
                    padding: 0px;
                    border: 0px;
                    background-color: #ffffff;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                    border-radius: 0px;
                    color: rgba(148, 221, 235, 0.69);
                    padding: 0px;
                    font-size: 1.5rem;
                }
                ngb-datepicker {
                    width: 100%;
                }
            }
        }
    }
}