$mainColor: rgba(148, 221, 235, 0.89);
div {
    &.row {
        margin-bottom: 1rem;
    }
    div {
        &#searchContainer {
            padding: 1rem 1.2rem;
            background-color: #fff;
            input {
                width: 100%;
                outline: none;
                border: 0px;
                font-size: 1.5rem;
                padding-left: 0.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            }
            i {
                top: 34%;
                right: 1.5%;
                color: $mainColor;
                position: absolute;
                @media (max-width: 576px) {
                    right: 6%;
                    top: 32%;
                }
                @media (max-width: 768px) {
                    right: 3%;
                    top: 35%;
                }
                @media (max-width: 992px) {
                    top: 33%;
                    right: 2.2%;
                }
            }
        }
        &#filterButtonTriggerContainer {
            a {
                display: inline-block;
                float: right;
                border-left: 1px solid $mainColor;
                border-bottom: 1px solid $mainColor;
                color: $mainColor;
                padding: 0.4rem;
                background-color: #ffffff;
                &:hover {
                    color: #ffffff;
                    cursor: pointer;
                    background-color: $mainColor;
                    border-color: #ffffff;
                }
            }
            &.input-group {
                width: 100%;
            }
        }
        h3 {
            color: rgba(0, 0, 0, 0.54)
        }
    }
}

#sliderContainer {
    div {
        &.row {
            margin-bottom: 0px;
        }
        span {
            display: inline-block;
            &.slider-min-label {
                float: left;
            }
            &.slider-max-label {
                float: right;
            }
        }
    }
}