<div class="row">
    <div id="searchContainer" class="col-xs-12">
        <input #searchInputField type="text" [(ngModel)]="searchInputQuery" (ngModelChange)="addSearchTerm()" placeholder="Аз съм търсачка" />
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div id="filterButtonTriggerContainer" *ngIf="showFilterButton">
        <a (click)="filtersExpanded = !filtersExpanded; showFilterButton = false;"> Филтри <i class="fa fa-arrow-down" aria-hidden="true"></i> </a>
    </div>
    <app-search-filters *ngIf="filtersExpanded" class="col-xs-12"></app-search-filters>
</div>