$mainColor: rgba(148, 221, 235, 0.89);
div {
    &.row {
        margin-bottom: 1rem;
    }
    div {
        &#searchContainer {
            background-color: #fff;
            >div {
                position: relative;
                display: inline-block;
                &:first-child {
                    margin-top: 1rem;
                    margin-bottom: 0.4rem;
                    width: 100%;
                    input {
                        width: 100%;
                        outline: none;
                        border: 0px;
                        font-size: 1.5rem;
                        padding-left: 0.5rem;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                    }
                    i {
                        top: 30%;
                        right: 0.5%;
                        color: $mainColor;
                        position: absolute;
                        @media (max-width: 576px) {
                            right: 6%;
                            top: 32%;
                        }
                        @media (max-width: 768px) {
                            right: 3%;
                            top: 35%;
                        }
                        @media (max-width: 992px) {
                            top: 33%;
                            right: 2.2%;
                        }
                    }
                }
                // &:last-child {
                //     width: 9.3%;
                //     a {
                //         display: inline-block;
                //         width: 100%;
                //         text-align: center;
                //         border-left: 1px solid $mainColor;
                //         border-bottom: 1px solid $mainColor;
                //         color: $mainColor;
                //         padding: 0.4rem;
                //         background-color: #ffffff;
                //         &:hover {
                //             color: #ffffff;
                //             cursor: pointer;
                //             background-color: $mainColor;
                //             border-color: #ffffff;
                //         }
                //     }
                // }
            }
        }
        &#filterButtonTriggerContainer {
            a {
                display: inline-block;
                border-left: 1px solid $mainColor;
                border-bottom: 1px solid $mainColor;
                color: $mainColor;
                padding: 0.4rem;
                background-color: #ffffff;
                width: 50%;
                text-align: center;
                &:hover {
                    color: #ffffff;
                    cursor: pointer;
                    background-color: rgba(148, 221, 235, 0.59);
                }
                &.active {
                    color: #ffffff;
                    cursor: pointer;
                    background-color: $mainColor;
                }
                &:last-child {
                    float: right;
                }
            }
            &.input-group {
                width: 100%;
            }
        }
        &#filtersContainer {
            background-color: #fff;
            >div {
                >a {
                    margin-top: 0.5rem;
                    display: inline-block;
                    float: right;
                    color: $mainColor;
                    border-left: 1px solid $mainColor;
                    border-top: 1px solid $mainColor;
                    padding: 0.4rem;
                    &:hover {
                        color: #ffffff;
                        background-color: $mainColor;
                        border-color: #ffffff;
                        cursor: pointer;
                    }
                }
            }
        }
        h3 {
            color: rgba(0, 0, 0, 0.54)
        }
    }
    app-search-filters {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
    }
}