$mainColor: rgba(148, 221, 235, 0.89);
div {
    margin-bottom: 1rem;
    h3 {
        @media (max-width: 576px) {
            font-size: 1.3rem;
        }
    }
    .form-group,
    .input-group {
        &:hover {
            cursor: pointer;
        }
        width: 100%;
        input {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            font-size: 1.5rem;
            border-radius: 0px;
            &:hover {
                cursor: pointer;
            }
        }
        .input-group-addon {
            width: 5%;
            padding: 0px;
            border: 0px;
            background-color: #ffffff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 0px;
            color: $mainColor;
            padding: 0px;
            font-size: 1.5rem;
        }
        ngb-datepicker {
            width: 100%;
        }
    }
}