/* You can add global styles to this file, and also import other style files */

body {
    font-size: 24px;
    background-color: #f4f4f4;
}


/* Datepicker Custom */

app-reservation-date-filter ngb-datepicker {
    width: 100%;
    border: none !important;
}

app-reservation-date-filter ngb-datepicker table {
    width: 100%;
}

app-map-view app-reservation-check-overlay h3 {
    color: rgba(148, 221, 235, 0.89) !important;
}

app-reservation-date-filter ngb-datepicker button {
    border-radius: 0px !important;
    border: 1px solid rgba(148, 221, 235, 0.89) !important;
    color: rgba(148, 221, 235, 0.89) !important;
    background-color: #ffffff !important;
    font-size: 1rem !important;
}

app-reservation-date-filter ngb-datepicker button:hover {
    border-radius: 0px !important;
    border: #ffffff !important;
    color: #ffffff !important;
    background-color: rgba(148, 221, 235, 0.89) !important;
}

app-reservation-date-filter ngb-datepicker select,
{
    border-radius: 0px !important;
    border: 1px solid rgba(148, 221, 235, 0.89) !important;
    font-size: 1rem !important;
}

app-reservation-date-filter ngb-datepicker .font-weight-bold {
    border-bottom: 1px solid rgba(148, 221, 235, 0.89) !important;
}

app-venue-card ngb-datepicker {
    width: 90% !important;
    border: none !important;
}

app-venue-card ngb-datepicker table {
    width: 100% !important;
}

app-venue-card ngb-datepicker button,
app-venue-card ngb-datepicker select {
    background: inherit !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 0 !important;
}

app-venue-card ngb-datepicker .bg-primary {
    border-radius: 0px !important;
    color: rgba(148, 221, 235, 0.89) !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(148, 221, 235, 0.89);
}

app-venue-card ngb-datepicker .btn-secondary {
    border-radius: 0px !important;
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

app-venue-card ngb-datepicker .weekday,
app-venue-card ngb-datepicker .weekend {
    color: #ffffff;
}

app-venue-card ngb-datepicker .btn-secondary:hover {
    background-color: inherit !important;
    color: #ffffff !important;
    border-color: inherit;
}

app-venue-card ngb-datepicker .bg-primary:hover {
    border-radius: 0px !important;
    color: rgba(148, 221, 235, 0.89) !important;
    background-color: #ffffff !important;
    border-color: #ffffff;
}

app-venue-card ngb-datepicker .hidden {
    display: none;
}

app-map-view #reservationCheckOverlay {
    width: 95% !important;
    margin-left: 2.5% !important;
    background-color: #ffffff !important;
    height: inherit !important;
    position: relative !important;
    height: 56.5% !important;
}

app-map-view app-reservation-check-overlay ngb-datepicker {
    width: 100%;
    border: none !important;
}

app-map-view app-reservation-check-overlay table {
    width: 100%;
}

app-map-view app-reservation-check-overlay ngb-datepicker select {
    border-radius: 0px !important;
    border: 1px solid rgba(148, 221, 235, 0.89) !important;
    font-size: 1rem !important;
}

app-map-view app-reservation-check-overlay ngb-datepicker .btn-secondary {
    border-radius: 0px !important;
    color: rgba(148, 221, 235, 0.89) !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(148, 221, 235, 0.89);
}

app-map-view app-reservation-check-overlay ngb-datepicker .bg-primary {
    color: #ffffff !important;
    background-color: rgba(148, 221, 235, 0.89) !important;
}


/* Attendance Filter */

app-venue-card app-people-attendance-filter>div {
    margin-bottom: 0px !important;
    width: 90%;
    margin-left: 5%;
}

app-venue-card app-people-attendance-filter span.ui-slider-handle {
    margin-top: 0px;
}

app-venue-card app-people-attendance-filter {
    color: #ffffff;
}

app-venue-card app-people-attendance-filter h3 {
    font-size: 1rem !important;
    width: 110%;
    margin-left: -0.5rem;
    margin-top: 0.4rem;
}

@media screen and (max-width: 576px) {
    app-venue-card app-people-attendance-filter h3 {
        width: 120%;
        margin-left: -1rem;
    }
}

app-map-view app-people-attendance-filter {
    color: #ffffff;
}


/* reservationInitiation component custom*/

app-map-view #reservationInitiationOverlay>div {
    margin-top: 60% !important;
}


/* Slider Custom */

div.ui-slider {
    background: rgba(131, 134, 136, 0.16);
}

span.ui-slider-handle {
    margin-top: 0.25rem;
}

span.ui-slider-handle:hover {
    cursor: pointer;
}

div.ui-slider {
    margin-top: 1.0rem;
}

app-map-view app-people-attendance-filter span.slider-min-label {
    font-size: 1.3rem;
    font-weight: 600;
}

app-map-view app-people-attendance-filter span.slider-max-label {
    font-size: 1.3rem;
    font-weight: 600;
}

app-map-view app-people-attendance-filter {
    color: rgba(148, 221, 235, 0.89);
}

app-map-view app-reservation-check-overlay #triggerContainer>a {
    color: rgba(148, 221, 235, 0.89) !important;
    border-color: rgba(148, 221, 235, 0.89) !important;
}

app-map-view app-reservation-check-overlay #triggerContainer>a:hover {
    cursor: pointer;
    background-color: rgba(148, 221, 235, 0.89) !important;
    color: #ffffff !important;
}


/* Accordion Custom */

ngb-accordion a:hover,
ngb-accordion a:focus {
    text-decoration: none;
    cursor: pointer;
}


/* Modal Custom */

ngb-modal-window div.modal-content {
    border-radius: 0;
}

div.card {
    border-radius: 0px !important;
}


/* Nav login form custom */

nav app-login-form button {
    color: #ffffff !important;
    border-color: #ffffff !important;
    margin-bottom: 0.4rem;
}

nav app-login-form button:hover {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

nav app-login-form form {
    margin-top: 0.5rem;
}

nav app-login-form form input {
    width: 90% !important;
}


/* App auth app */

app-authenticated-app app-search>div {
    margin-right: 0.1rem !important;
}